<h2 mat-dialog-title>
  @if (data.isDangerous) {
  <mat-icon class="warning-icon">warning</mat-icon>
  }
  {{ data.title }}
</h2>

<mat-dialog-content>
  <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    (click)="onCancel()"
    [attr.aria-label]="'aria.cancelDialog' | translate"
  >
    {{ data.cancelText || ("confirmDialog.defaultCancel" | translate) }}
  </button>
  <button
    mat-raised-button
    [color]="data.isDangerous ? 'warn' : 'primary'"
    (click)="onConfirm()"
    [attr.aria-label]="
      data.confirmText || ('confirmDialog.defaultConfirm' | translate)
    "
  >
    {{ data.confirmText || ("confirmDialog.defaultConfirm" | translate) }}
  </button>
</mat-dialog-actions>
